[submodule "tools/splat"]
	path = tools/splat
	url = https://github.com/ethteck/splat
[submodule "tools/asm-processor"]
	path = tools/asm-processor
	url = https://github.com/simonlindholm/asm-processor
[submodule "tools/elfio"]
	path = tools/elfio
	url = https://github.com/serge1/ELFIO
[submodule "tools/rarezip"]
	path = tools/rarezip
	url = https://github.com/Mr-Wiseguy/rarezip
[submodule "lib/ultralib"]
	path = lib/ultralib
	url = https://github.com/Mr-Wiseguy/ultralib
	branch = tooie
[submodule "tools/toml11"]
	path = tools/toml11
	url = https://github.com/ToruNiina/toml11
[submodule "tools/fmt"]
	path = tools/fmt
	url = https://github.com/fmtlib/fmt
